.container {
    width: 400px;
    padding: 24px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;

    h1 {
        text-align: center;
        font-size: 24px;
        margin-bottom: 16px;
    }

    .task-list {
        max-height: 240px;
        overflow: auto;
        padding: 0 8px;
        margin: 0 -8px 16px;

        .loading {
            text-align: center;
            margin: 24px 0;
        }

        .task {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 8px;

            .task-title {
                width: calc(100% - 24px);
                display: flex;
            }

            input[type="checkbox"] {
                margin-right: 8px;
                transform: scale(1.2);
            }

            label {
                font-size: 16px;
                color: #333;
                text-decoration: none;
                cursor: pointer;
                overflow: hidden;
                white-space: nowrap;
                text-overflow: ellipsis;

                &:hover {
                    color: #007bff;
                }
            }

            .remove-task {
                cursor: pointer;
                margin-left: 8px;
                font-size: 12px;
                opacity: 0.5;

                &:hover {
                    opacity: 1;
                }
            }
        }
    }

    .add-task {
        display: flex;
        justify-content: space-between;

        input[type="text"] {
            width: 75%;
            padding: 8px;
            font-size: 14px;
            border: 1px solid #ddd;
            border-radius: 8px;

            &:focus {
                outline: none;
                border-color: #4CAF50;
            }

        }

        button {
            width: 20%;
            padding: 8px;
            background-color: #4CAF50;
            color: white;
            border: none;
            border-radius: 8px;
            cursor: pointer;

            &:hover {
                background-color: #45a049;
            }

            &:disabled {
                opacity: 0.75;
            }
        }
    }

    &.loading::after {
        content: '';
        position: absolute;
        background: red;
        height: 100%;
        width: 100%;
        top: 0;
        left: 0;
        border-radius: 8px;
        opacity: 0.2;
    }
}